<html>

<body
    style="margin: 0; background-color: #F9F9F9; background-image: url('https://vms-service.ngrok.io/image_api/card/bg-image.png/'); background-size: 100% 100%;">
    <div>
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://vms-service.ngrok.io/image_api/card/logo.png/"
                style="width: 50px; height: 50px;">
        </p>

        <div style="width: 80%;  left: 0; right: 0;  margin: auto;">
            <h4 style="color: #FFF; text-align: center;">WELCOME TO THE ARTANI PPROJECT</h4>
        </div>
        <div style="background-color: #FFF; width: 90%; height: 40%; top: 100; left: 0; right: 0; margin: auto; ">
            <div>
                <p>&nbsp;</p>
                <p>&nbsp;&nbsp;&nbsp;สวัสดี คุณ this-full-name</p>
                <p>&nbsp;&nbsp;&nbsp;<u><b>ระบบได้บันทึกคุณเป็น ลูกบ้าน ของโครงการ</b></u></p>
                <p>&nbsp;&nbsp;&nbsp;เลขบัตรประจำตัวประชาชน : this-id-card </p>
                <p>&nbsp;&nbsp;&nbsp;บ้านเลขที่ : this-home-number</p>
                <p>&nbsp;&nbsp;&nbsp;หมายเลขทะเบียนรถ : this-license-plate</p>
                <br>
            </div>
        </div>
    </div>

</body>

</html>